window#osd {
    border-radius: 999px;
    border: none;
    background: alpha(@window_bg_color , 0.6);
    min-height:12px;
}

window#osd #container {
    margin: 16px;
}

window#osd image,
window#osd label {
    color: @accent_color;
    border-radius: 99px;
    padding:10px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    border: none;
}

window#osd progressbar:disabled,
window#osd image:disabled {
    opacity: 0.5;
}

window#osd progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @accent_color;
}
